* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.todo {
    padding: 5vh 10%;
}


.delete {
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 2rem;
    text-align: center;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

form {
    background: linear-gradient(135deg, rgb(248, 246, 246), rgb(246, 242, 242));
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 1); */
    transition: all 0.3s ease-in-out;
}   

/* form:hover {
    box-shadow: 0 0 20px rgb(74, 49, 49);
    transform: translateY(2px);
} */

.screen {
    margin: 10px 5%;
}

.login {
    padding: 20px;
}